{
  "version": "1.0",
  "platform": {
    "preBuild": {
      "commands": [
        {
          "name": "Install Composer dependencies",
          "type": "command",
          "platform": "generic",
          "command": "composer install --no-dev --optimize-autoloader"
        }
      ]
    }
  },
  "commands": {
    "01_set_permissions": {
      "command": "chown -R nginx:nginx /var/www/html/app/storage",
      "cwd": "/var/www/html/app"  # Updated directory
    },
    "02_storage_link": {
      "command": "php artisan storage:link",
      "cwd": "/var/www/html/app"  # Updated directory
    }
  }
}
