{
  "version": "1.0",
  "platform": {
    "preBuild": {
      "commands": [
        {
          "name": "Install Composer Dependencies",
          "command": "composer install --no-dev --optimize-autoloader",
          "cwd": "/var/app/current"
        }
      ]
    }
  },
  "commands": {
    "01_set_permissions": {
      "command": "chown -R nginx:nginx storage",
      "cwd": "/var/app/current"
    },
    "02_create_storage_symlink": {
      "command": "php artisan storage:link",
      "cwd": "/var/app/current"
    }
  }
}
