packages:
  yum:
    git: []
    unzip: []

commands:
  01_install_composer:
    command: |
      curl -sS https://getcomposer.org/installer | php
      mv composer.phar /usr/local/bin/composer
      composer install --no-dev --optimize-autoloader
    cwd: /var/www/html/app

  02_set_permissions:
    command: |
      chown -R nginx:nginx /var/www/html/app/storage
      chmod -R 775 /var/www/html/app/storage

  03_storage_link:
    command: "php artisan storage:link"
    cwd: /var/www/html/app
